In [25]:
import pandas as pd
import mysql.connector

In [26]:
username = 'root'
host = '127.0.0.1'
password = 'ashu13579'
database = 'library'

conn = mysql.connector.connect(user = username,host = host,password = password,database = database)
cursor = conn.cursor()

In [27]:
q = "select * from employee"
df = pd.read_sql_query(q,conn)

C:\Users\delli\AppData\Local\Temp\ipykernel_15472\2479898599.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(q,conn)

In [28]:
df

   employeeID FirstName FamilyName          position   salary    HireDate
0         101      John        Doe  Junior Developer   6600.0  2020-03-15
1         102      Jane      Smith           Manager   8250.0  2019-06-01
2         103     Emily    Johnson  Junior Developer  60000.0  2018-11-22
3         106     David     Wilson  Junior Developer   6820.0  2021-05-25
4         107     Laura   Martinez           Manager  70000.0  2017-12-15
5         109      Lisa     Thomas  Junior Developer   5500.0  2020-09-10
6         110     Kevin     Taylor  Junior Developer   7040.0  2022-04-05
7          19  Ashutosh     Tiwari     Data Engineer  50000.0  2020-01-02